<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{siteTitle}}">
    <meta name="author" content="{{siteAuthor}}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="leQwYn273S2nzTp7NdfusiVPntHR052-fieaLVqWhF4"/>
    <title>{{siteTitle}}</title>
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amaranth&family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="canonical" href="https://luctielen.com">
    <script defer data-domain="luctielen.com" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body>
    {{>site/templates/header.html}}
    <main>
      <h1 class="posts-title">All posts</h1>
      {{>site/templates/tag-list.html}}
      {{>site/templates/post-list.html}}
    </main>
</body>
</html>
