<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{siteTitle}}">
    <meta name="author" content="{{author}}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    {{>site/templates/meta-data.html}}
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amaranth&family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <script defer data-domain="luctielen.com" src="https://plausible.io/js/plausible.js"></script>
  </head>
</head>
<body>
  {{>site/templates/header.html}}
  <main class="post">
    <h1>{{title}}</h1>
    <!--
    <span class="date">{{date}}</span>
    -->
    <div class="tags">
      {{#tags}}
      <span class="tag tag-{{.}}"><a href="/tag/{{.}}">{{.}}</a></span>
      {{/tags}}
    </div>
    {{#image}}
    <img class="post-image" src="/images/{{image}}"/>
    {{/image}}
    {{{content}}}
  </main>
</body>
